.active {
  background-color: #f7f7f7;
  border-bottom: 2px solid red;
  color: red;
  font-weight: bold;
}

.title{
  font-weight: bold;
  color: rgb(146, 98, 9);
}

.card-title{
  font-weight: bold;
}
  
